<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbrug.workflow.persistence.instance.task.mapper.TaskMapper">

    <!-- 插入 -->
    <insert id="insert">
        insert into wf_act_task(job_id, process_id, node_id, state, start_time, remark)
            value (
                #{jobId  },
                #{processId  },
                #{nodeId  },
                #{state  },
                now(),
                #{remark  }
            )
    </insert>
    
    <!-- 更新任务状态 -->
    <update id="updateState">
        update wf_act_task
            set state = #{state}, update_time = now()
        where job_id = #{jobId} and node_id = #{nodeId}
    </update>
    
    <!-- 完成任务 -->
    <update id="finishTask">
        update wf_act_task
            set state = 1, update_time = now()
        where job_id = #{jobId} and node_id = #{nodeId}
    </update>
    
    <!-- 查询前置未完成的任务数量 -->
    <select id="getFinishedPreTaskCount" resultType="int">
        select count(1)
            from wf_act_task
        <where>
            and state = 1
            and job_id = #{jobId}
            and node_id in
            <foreach collection="preNodeList" open="(" item="item" close=")" separator=",">#{item}</foreach>
        </where>
    </select>
</mapper>

