<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbrug.workflow.core.persistence.definition.path.mapper.PathMapper">

    <!-- 查询路径信息 -->
    <select id="queryPath" resultType="com.vbrug.workflow.core.persistence.definition.path.po.PathPO">
        select id, process_id, from_node, to_node
        from wf_def_path
        <where>
            <if test="fromNode != null">
                and from_node = #{fromNode}
            </if>
            <if test="toNode != null">
                and to_node = #{toNode}
            </if>
            <if test="precondition != null">
                and precondition = #{precondition}
            </if>
        </where>
    </select>
    
</mapper>

