<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vbrug.workflow.core.persistence.instance.job.mapper.JobMapper">
    
    <!-- 插入 -->
    <insert id="insert">
        insert into wf_act_job(id, process_id, state, create_time, params, remark)
            value (
                #{id  },
                #{processId  },
                #{state  },
                now(),
                #{params},
                #{remark  }
            )
    </insert>
    
    <!-- 更新任务状态 -->
    <update id="update">
        update wf_act_job
        <set>
            <if test="state != null">
                t.state = #{state},
            </if>
            <if test="params != null">
                t.params = #{params},
            </if>
            <if test="updEndTime">
                end_time = now(),
            </if>
            <if test="updStartTime">
                start_time = now(),
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>
    
    <!-- 迁移完成Job -->
    <update id="migrateCompleteJob">
        insert into wf_his_job(id, process_id, state, create_time, start_time, end_time, params, remark, update_time)
        select id,
               process_id,
               state,
               create_time,
               start_time,
               end_time,
               params,
               remark,
               update_time
        from wf_act_job
        where id = #{0}
    </update>
</mapper>

